/* ## Primary

- Strong Cyan: hsl(171, 66%, 44%)
- Light Blue: hsl(233, 100%, 69%)

### Neutral

- Dark Grayish Blue: hsl(210, 10%, 33%)
- Grayish Blue: hsl(201, 11%, 66%) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  pointer-events: none;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

body {
  min-height: 100vh;
}

main {
  margin: 0 1rem;
  text-align: center;
}

.header {
  background-image: url("/images/bg-header-mobile.png");
}
.header img{
  width: 100%;
  max-width: 100%;
}

h1 {
  color: hsl(210, 10%, 33%);
}

p {
  color: hsl(201, 11%, 66%);
}

img {
  max-width: 100%;
